body {
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #00c6ff, #0072ff);
      color: #fff;
      text-align: center;
      margin: 0;
      padding: 40px;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    img {
       
      max-width: 80%;
      border-radius: 12px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
      transition: transform 0.4s ease;
    }

    img:hover {
      transform: scale(1.03);
    }

    p {
      font-style: Serif;
        font-size: 2.1rem;
      line-height: 1.6;
      max-width: 1500px;
      margin: 150px auto;
      text-align: justify;
    }

    button {
      margin-top: 30px;
      background-color: white;
      color: #0072ff;
      border: none;
      padding: 30px 25px;
      border-radius: 80px;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: #0072ff;
      color: white;
      transform: scale(2.05);
    }

    footer {
      margin-top: 150px;
      opacity: 0.8;
      font-size: 2.9rem;
    }